<?xml version="1.0" encoding="UTF-8"?>
<suite name="User_Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
        <listener class-name="utilities.LogHeaderSuiteListener"/>
        <listener class-name="base.TestListener"/>
    </listeners>
    <test name="User_Test">
        <classes>
            <class name="tests.BookingTest"/>
        </classes>
    </test>
</suite>
